table{
    border-collapse: collapse;
    border: 0.1px solid white;
}
td{
    border: 4px solid white;
}
*{
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
    box-sizing: border-box; 
    border-color: black 50px;
}
body{
    margin: 20px;
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: 40px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: #FAF0BF;
}
a{
    height: auto;
    text-decoration: none;
    font-size: 35px;
    color: black;
    position: relative;
}
a:after{
   content: '';
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 4px;
   background-color: blue;
   transform: scalex(0);
   transition: transform 0.4s ease;
}
a:hover::after{
    transform: scalex(1);
}
#cua{
    color: white;
    text-align: center;
    background-color: black;
}
#x{
    text-align: center;
}
    form {
      background-color: #fff;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      width: 500px;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }

    textarea {
      resize: vertical;
      height: 80px;
    }

    button {
      width: 100%;
      background-color: #555;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    button:hover {
      background-color: #333;
    }

    small {
      color: #888;
      font-size: 12px;
    }
    #cuadro{
        display: flex;
        flex-direction: row;
        align-items:stretch ;
    }
    #mapa{
        align-items: center;
    }
    #linea{
        background-color: rgb(66, 61, 61);       /* color de fondo */
      color: white;                  /* color del texto */
      text-align: center;            /* centra el texto */
      font-weight: bold;             /* texto en negrita */
      font-family: serif;
      font-size: 20px;
      height: auto;
    }
    #logos{
    margin: auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
}
svg{
    background-color: black;
border-radius: 50%;
}