*{
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
    padding:200;
    box-sizing: border-box; 
}
body{
    background-image: url(imagenes/010594ccfee295304c073ee3d0d568dc\ \(1\).jpg );
    background-repeat: no-repeat;
    background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: 60px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
#logos{
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
}
svg{
    background-color: black;
border-radius: 50%;
}
a{
    height: auto;
    text-decoration: none;
    font-size: 35px;
    color: black;
    position: relative;
}
a:after{
   content: '';
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 4px;
   background-color: blue;
   transform: scalex(0);
   transition: transform 0.4s ease;
}
a:hover::after{
    transform: scalex(1);
}
