*{
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
    box-sizing: border-box; 
    border-color: black 50px;
}
body{
    margin: 20px;
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: 40px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: #FAF0BF;
}
#logos{
    margin: auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
}
svg{
    background-color: black;
border-radius: 50%;
}
#lo{
    height: auto;
    text-decoration: none;
    font-size: 35px;
    color: black;
    position: relative;
}
#lo:after{
   content: '';
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 100%;
   height: 4px;
   background-color: blue;
   transform: scalex(0);
   transition: transform 0.4s ease;
}
#lo:hover::after{
    transform: scalex(1);
}
#cuadro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
}
#img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
#no{
    height: 50%;
    width: 100%;
    background-color:rgb(90, 80, 80);
    color: white;
    font-family: serif;
    font-size: 25px;
    text-align: center;
}
#publicidad{
    align-items: center;
    text-align: center;
}
hr{
    align-self: center;
    border: none;
    background-color: black;
    height: 1px;
}